<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest By Amrit</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
   
</head>
<body>
    <div class="containerpers">
        <div class="cardpers">
          <div class="profile-picture">
            <img src="https://orionstardesign.com/wp-content/uploads/2023/08/010.jpg" alt="Profile Picture">
          </div>
          <h2 class="name"><%=user.fullname%></h2>
          <h3 class="username">@<%=user.username%></h3>
          <p class="tagline">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, harum?</p>
          <a href="/logout" class="button"> Logout</a>
          <!-- upload form -->
          <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="caption">New Post</label>
            <br>
            <input type="text" name="caption" id="caption" placeholder="Caption Here !">
            <input type="file" name="file" id="file">
<button class="uploadbtn" type="submit">Upload</button>
          </form>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
          <div class="inner-wrapper">
            <div class="cards flex ">
              <% user.posts.forEach(function(post){%>
                <div class="card ">
                <div class="inner-card">
                  <div class="img-wrapper">
                    <img src= "/images/uploads/<%=post.image%>"  alt="my posts">
                  </div>
                  <div class="content">
                    <h1><%=post.postText %></h1>
              
                  </div>
                  <div class="btn-wrapper">
                    <button class="view-btn" data-src="/images/uploads/<%=post.image%>">View</button>
                  </div>
                  </div>
                </div>
              <%})%>
      
            
            </div>
        </div>
        </div>
      </div>
    
      <div class="light-box">
        <div class="box-wrapper">
          <div class="box">
            <span class="close-btn">&times</span>
            <img src="" alt="" class="light-img">
          </div>
        </div>
      </div>
   

    <script src="/javascripts/profile.js"></script>

</body>
</html>